@model IEnumerable<Worker>
@{
    ViewData["Title"] = "Arp Ideas";
}

@section Styles
{
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
}

<div class="jumbotron">
    <h1>ARP Ideas</h1>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <br/>
    <div style="width: 90%; margin: 0 auto;">
        <table id="tabela" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Wiek
                </th>
                <th>
                    Wynagrodzenie
                </th>
                <th>
                    NIP
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SureName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdentyficationNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#tabela').DataTable();
        } );
    </script>

}
